/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

nav {
	/* shorthand property	*/
	/* Creates space between the ul tag and nav elements	*/
	padding: 0.8rem;
	/* properties that make up the padding property */
/*	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	padding-right: 0.8rem;
	padding-left: 0.8rem;*/

	/* creates space between the nav and intro */
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
/*	list-style-type: none;*/
}

/*margin vs padding*/
/*margin is best used when creating space between elements.*/
/*padding is best used when creating space between an element's border and it's content.*/

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

#intro, #succeed-info {
/*	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;*/
	padding: 2rem 10% 3rem;
	text-align: center;
}

.header {
	text-align: center;
}

#intro h2, #intro p {
	/* creates space between the contents of the intro section */
	margin-bottom: 1rem;
}

#intro button {
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	padding: 1rem;
	border-radius: 25px;
}

#succeed-info h2, #succeed-info h3 {
	margin-bottom: 1rem;
}

#succeed-info .card {
	/* appear beside each other */
	display: inline-block;
	/*aligns elements with the tallest element in line*/
	/*used with the "inline-block" value*/
	vertical-align: top;
	/*allows for cards to have equal height that adjust with the content*/
	min-height: 175px;
	/*measurement is based on equally dividing the parent container's width*/
	/*only use 30% and not 33.33% because of margin to avoid overflow and horizontal scrolling*/
	width: 30%;
	/*creates horizontal spacing between cards*/
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer {
	padding: 0.7rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/* Activity */

/*change the background and tex color for the pre-footer section*/
#pre-footer {
	padding: 1rem;
	color: white;
	background-color: #002540;
}

/*align elements horizontally and add 20% width to the div elements inside the pre-footer section*/
#pre-footer div	{
	display: inline-block;
	width: 20%;
}

/*Add margin at the top and bottom for all elements inside the div under the pre-footer section*/
#pre-footer h3, #pre-footer p {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}