/* 3 CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* 4 add google font 'Open Sans' */
body {
	font-family: 'Open Sans', sans-serif;
}

/* Sticky Nav section */

nav {
	padding: 0.5rem;
	position: sticky;
	top: 0;
	width: 100;
	background-color: white;
	border-bottom: 3px solid lightgray;
}

.nav-logo, .right-nav, .nav {
	display: inline-block;
}

.nav-logo {
	padding-left: 10rem;
	padding-top: 1rem;
	width: 50%;
}

.nav {
	padding: 1rem;
	color: black;
}


/* tuitt button styling */

.tuitt-button {
	background-color: #c2195b;
	padding: 1rem;
	color: white;
	border-radius: 25px;
	border: 0;
	font-weight: bold;
}

/* landing page */

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100% 300%;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 40vh;
}

.front-bg {
	background: rgba(0, 0, 0, 0.5);
	min-height: 40vh;
}

.container {
	text-align: right;
	padding-left: 50%;
	padding-right: 14%;
}

.title, .title-2 {
	font-family: 'Zilla Slab';
}

.title {
	color: white;
	font-size: 3rem;
}

.subtitle {
	color: white;
	font-size: 1.5rem;
	font-weight: 300;
	padding-left: 30%;
	padding-top: 2rem;
	margin-bottom: 5rem;
}

.apply-button {
	background-color: #c2195b;
	padding: 1rem 3rem;
	color: white;
	border-radius: 25px;
	border: 0;
	font-size: 1rem;
	font-weight: bold;
}


/* intro section */

.title-2 {
	text-align: center;
	padding-top: 5rem;
	padding-bottom: 5rem;
	font-size: 2rem;
}

.intro-description {
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 5rem;
	color: gray;
	font-size: 1.15rem;
}

/* pre-footer */

.title-2 {
	text-align: center;
	padding-bottom: 5rem;
}

.prefooter-description {
	padding-left: 18.5%;
	padding-right: 18.5%;
	padding-bottom: 1rem;
	color: gray;
	font-size: 1.10rem;
}

.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
}

.book-button {
	background-color: #336589;
	padding: 1rem 4rem;
	color: white;
	border-radius: 25px;
	border: 0;
	margin-bottom: 11rem;
	margin-top: 0;
	font-weight: bold;
	font-size: 1.25rem;
}

footer {
	text-align: center;
	color: gray;
	margin-bottom: 1rem;
}

footer span {
	padding: 1rem;
}