/*
	Display Properties
	- block - take up as much space then can (entire width of the webpage) (this slement any element next to it will start in a new line)
	- inline - take a width enough for its content (elements can be placed side by side)
	- inline-block - combination of inline and block elements
	- none - hides the leement and will not be shown visually
*/

/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* dic elements are block elements by default */
#div-1 {
	background-color: green;
	display: inline;
}

/* width and height cannot be used in the property display: inline */
#span-1 {
	background-color: purple;
	display: inline-block;
	width: 200px;
	height: 200px;
}

#span-2 {
	background-color: red;
	display: block;
}

#div-2 {
	background-color: hotpink;
	display: none;
}

/* inline block can set a height and width and can appear side by side with other inline elementss*/
#img {
	display: inline-block;
	width: 250px;
	height: 250px;
}

#p-1 {
	background-color: #87CEFA;
}

#p-2 {
	background-color: rgb(255,105,180);
	width: 60%;
}

#p-3 {
	background-color: limegreen;
	width: 40%;
}

.sample {
	display: inline-block;
	width: 30%;
	border: 1px solid black;
	text-align: center;
}

.img-float {
	width: 250px;
	height: 250px;
	float: inherit; 
	/* left, right */
}


.box {
	background-color: darkred;
	border: 1px solid black;
	margin: 5px;
	color: white;
}

.fifty-percent {
	width: 50%;
}

.one-hundred-pixels {
	width: 100px;
}

.parent {
	width: 135px;
	border: 2px solid navy;
	font-size: 30px;
}

/* VIEWPORT UNITS
	1vw = 1%
	1vh = 1%
*/

.fifty-vw {
	width: 50vw;
}

.twenty-five-vh {
	height: 25vh;
}

/*
	rem - based on the root element (HTML)
		1rem = 16px
	em - based on the parent element
		1em = set value of the parent element
*/

.one-rem {
	font-size: 1rem;
}

.one-em {
	font-size: 1em;
}

.two-rem {
	font-size: 2rem;
}

.two-em {
	font-size: 2em;
}

html {
	font-size: 24px;
}

/*
	percentage is also based on parent element
*/

.two-hundred-percent {
	font-size: 200%;
}


/* CSS Background Properties */

.background {
	min-height: 100vh;
	background-color: gray;

	/* hex codes, rgb */
	/*	background-color - can change the color background. It can take #hex value or an rgb value*/

	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);

	/* background-image: url(URI) - Takes on the path to your image. */

	background-repeat: no-repeat;
	
	/* repeat-x, repeat-y, space, round */

	background-size: 50%;

	/* auto, contain, cover, px, % */
	/* 	background-size - specifies the size of the background images. 
		one-value
		two-value - background-size: width height
	*/

	background-position: center top;

	/* 
	background-position - position of the background relative to the HTML element.
	
	Two values are needed here, X and Y, where X is the amount of offset from the left and Y is the amount of offset from the top. 

	left, center, right, bottom, number values
	*/

	background-attachment: scroll; 
	/* fixed */
	/* 
	background-attachment - sets whether a background image scrolls with the rest of the page or is fixed.
	 */

}

.bg-title {
	color: white;
	text-align: center;
	font-size: 5em;
	margin: 0;
}

.contrainer-bg {
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 100vh;
}

.parent-element {
	background-color: skyblue;
	padding: 10px;
	position: relative;
	height: 800vh;
}

.child-one {
	background-color: gray;
	padding: 10px;
}

/* position */
/* static default value for elements - positioned according to the normal flow of the document */
/* relative - remin in the normal flow of the document but with additional properties (left, right, bottom, top, z-index) */
/* absolute - Elements with position: absolute are positioned relative to their parent elements. */
/* Sticky - position: sticky is a mix of position: relative and position: fixed. It acts like a relatively positioned element until a certain scroll point and then it acts like a fixed element. */

.child-two {
	background-color: yellow;
	padding: 10px;
	position: sticky;
	top: 10px;
}

/* Fixed - Fixed-position elements are similar to absolutely positioned elements. They are also removed from the normal flow of the document. But unlike absolutely positioned elements, they are always positioned relative to the  element. */

.child-three {
	background-color: gray;
	padding: 10px;
}

html {
	height: 800vh;
}

/* z-index */
.container {
	position: relative;
}

.black-box {
	position: relative;
	z-index: 1;
	border: 2px solid black;
	height: 100px;
	margin: 30px;
}

.gray-box {
	position: absolute;
	z-index: 3;
	background: rgba(1, 1, 1, 0.25);
	height: 60px;
	width: 70%;
	left: 50px;
	top: 50px;
}

.green-box {
	position: absolute;
	z-index: 2;
	background: lightgreen;
	width: 35%;
	left: 270px;
	top: -15px;
	height: 100px;
}