/*5 change the color of id external to yellow using external styling*/
#external {
	color: yellow;
}

/*6 change the font style of all elements using universal selector*/
* {
	font-family: verdana, sans-serif;
	font-size: 20px;
}

/*7 change the font=-size of h1 using type selector*/
h1 {
	font-size: 3rem;
}

/*8 change the sub-header to uppercase using id selector*/
#sub-header {
	text-transform: uppercase;
}

/*9 change the background color of languages to be learned list using class selector*/
.text-green {
	background-color: green;
}

/*10 change border attribute of tools to be used using attribute selector*/
li[class="border-blue"] {
	border: 2px solid blue;
}

/*11 remove the list style of other things to be leaned list using adjacent sibling selector*/
img + ul {
	list-style-type: none;
}

/*12 update dimension of the image using descendant selector*/
section img {
	height: 20vh;
	width: 20vh;
	border-radius: 100px;
}

/*13 change alignment of the last pharagraph using a general sibling selector*/
h4 ~ p {
	text-align: center;
}

/*14 change the letter spacing of the other things to be learned list items using a child selector*/
section > ul > li {
	letter-spacing: 10px;
}